<html>

<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src='../../src/search.js' ></script>
    <link rel="stylesheet" type='text/css' href="/css/particles.css">

</head>

<body>
<div id="particle overlay">
<input type="text" class="live-search-box" placeholder="search here" />


<div>
  <ul class="live-search-list">
    <% if @venues %>
    <% @venues.reverse.each do |venue| %>

        <br>
        <ul>  <img src= "<%= venue.pictures.map(&:path).join(',')  %>" height="200" width="200" align="center"> </span>
        <br>
        <span ><b>Title:</b> <%= venue.title %></span>
        <br>
        <span><b>Address:</b> <%= venue.address   %></span>
        <br>
        <br>
        <span><b>City:</b> <%= venue.city   %></span>
        <br>
        <br>
        <span><b>Price:</b> <%= venue.price   %></span>
        <br>
        <span>
        <form action="/view/<%= venue.title%>">
          <button id="view" >View</button>
        </form></ul>
    <% end %>
    <% else %>
    <%end%>
  </ul>
</div>
</div>

<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="../../src/particles.js"></script>
</body>

</html>
