<html>

<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src='../../src/search.js' ></script>
    <link rel="stylesheet" type='text/css' href="/css/particles.css">
    <link rel="stylesheet" type='text/css' href="/css/index.css">
    <link rel="stylesheet" type='text/css' href="/css/grid.css">

</head>

<body>
<div id="particle overlay">
  <div class='search-box'>
    <input type="text" class="live-search-box" placeholder="search here" />
  </div>


<div>
  <ul class="live-search-list">
    <% if @venues %>
    <% @venues.reverse.each do |venue| %>

        <br>
        <div class='galery'>
          <div class="index-page">
            <a target="_blank" href="/view/<%= venue.title%>">
              <ul>  <img src= "<%= venue.pictures.map(&:path).join(',')  %>" style="width:25%;"> </span>
          </div>
          <div class='desc'>
            <span ><b>Title:</b> <%= venue.title %></span>
            <br>
            <span><b>Address:</b> <%= venue.address   %></span>
            <br>
            <span><b>City:</b> <%= venue.city   %></span>
            <br>
            <span><b>Price:</b> <%= venue.price   %></span>
            <br>
            <span>
          </div>
    <% end %>
    <% else %>
    <div class='index-page'>
      You don't have any reservations moron!
    </div>
    <%end%>
  </ul>
</div>
</div>

<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="../../src/particles.js"></script>
</body>

</html>
