<link rel="stylesheet" type='text/css' href="/css/particles.css">

<div id="particle overlay">

<% if @favorite_venues %>
<% @favorite_venues.each do |venue| %>
  <img src= "<%= venue.pictures.map(&:path).join(',')  %>" height="200" width="200" align="center"> </span>
  <br>
  <span> <b>Title:</b> <%= venue.title %></span>
  <br>
  <span><b>Address:</b> <%= venue.address   %></span>
  <br>
  <br>
  <span><b>City:</b> <%= venue.city   %></span>
  <br>
  <br>
  <span><b>Price:</b> <%= venue.price   %></span>
  <br>
  <br>
    <span><b>Description:</b> <%= venue.description   %></span>
  <span>
  <br>
  <br>

<% end %>
<% else %>
<%end%>
</div>

<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="../../src/particles.js"></script>
