<link rel="stylesheet" type='text/css' href="/css/particles.css">
<link rel="stylesheet" type='text/css' href="/css/buttons.css">
<link rel="stylesheet" type='text/css' href="/css/index.css">
<link rel="stylesheet" type='text/css' href="/css/grid.css">

<div id="particle overlay">

<% if @favorite_venues %>
<% @favorite_venues.each do |venue| %>
<div class='galery'>
<div class="index-page">
  <a target="_blank" href="/view/<%= venue.title%>">
  <img src= "<%= venue.pictures.map(&:path).join(',')  %>" style="width:25%;"> </span>

</div>
  <div class='desc'>
  <span> <b>Title:</b> <%= venue.title %></span>

  <span><b>Address:</b> <%= venue.address   %></span>
  <br>
  <span><b>City:</b> <%= venue.city   %></span>
    <br>
  <span><b>Price:</b> <%= venue.price   %></span>
    <br>
    <span><b>Description:</b> <%= venue.description  %></span>
      <br>  <br>
  <span>
  </div>
  </div>

<% end %>
<% else %>
<div class='index-page'>
  You don't have any favorites moron!
</div>
<%end%>
</div>

<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="../../src/particles.js"></script>
