<html>

<head>

</head>

<body>
  <h1>Welcome <%= @name %> </h1>
<div>
  <% @venues.each do |venue| %>
  <li>
    <br>
    <img src= "<%= venue.pictures.map(&:path).join(',')  %>" height="200" width="200" align="center"> </span>
    <br>
    <span ><b>Title:</b> <%= venue.title %></span>
  <br>
    <span><b>Address:</b> <%= venue.address   %></span>
  <br>
  <br>
    <span><b>Price:</b> <%= venue.price   %></span>
  <br>
  <span>
  <form action="/view/<%= venue.title%>">
    <button id="view" >View</button>
  </form>
  </li>
  <% end %>
</div>

</body>

</html>
