<html>

<head>

</head>

<body>
  <% if @name %>
  Welcome <%= @name %>
  <form method='post' action='/user'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Sign out'>
  </form>
<% end %>
<form action="/venue/new">
  <button id="Add_venue" >Add a Venue</button>
</form>
<div>
  <% @venues.reverse.each do |venue| %>
  <li>
    <br>
    <img src= "<%= venue.pictures.map(&:path).join(',')  %>" height="200" width="200" align="center"> </span>
    <br>
    <span ><b>Title:</b> <%= venue.title %></span>
  <br>
    <span><b>Address:</b> <%= venue.address   %></span>
  <br>
  <br>
    <span><b>Price:</b> <%= venue.price   %></span>
  <br>
  <span>
  <form action="/view/<%= venue.title%>">
    <button id="view" >View</button>
  </form>
  </li>
  <% end %>
</div>

</body>

</html>
