<html>

<head>

</head>

<body>
<div>
<<<<<<< HEAD
  <% @venues.each do |venue| %>
  <li>
    <span ><b>Title:</b> <%= venue.title %></span>
  <br>
    <span><b>Address:</b> <%= venue.address   %></span>
  <br>
  <br>
    <span><b>Price:</b> <%= venue.price   %></span>
  <br>
  <span>
    <br>
  <b>Picture:</b>
    <img src= "<%= venue.pictures.map(&:path).join(',')  %>" height="200" width="200" align="center"> </span>
  <br>
  <form action="/view/<%= venue.title%>">
    <button id="view" >View</button>
  </form>
  </li>


<% end %>
=======
  <h1>Welcome <%= @name %> </h1>

  <h4 id="title">House 1</h4>
  <img id="image" src="https://static.pexels.com/photos/106399/pexels-photo-106399.jpeg" height="200" width="200">
>>>>>>> crisand
</div>




</body>

</html>
