<html>

<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src='../../src/search.js' ></script>
    <link rel="stylesheet" type='text/css' href="/css/particles.css">
    <link rel="stylesheet" type='text/css' href="/css/buttons.css">
    <link rel="stylesheet" type='text/css' href="/css/index.css">
    <link rel="stylesheet" type='text/css' href="/css/grid.css">

</head>
<body>
  <div class='index-page'>
    <h1>Venues</h1>
  </div>
  <!-- <div id=""> -->
  <div id="particle overlay">
    <% if @name %>
    <div class='index-page'>
    <form action="/venue/new">
      <button class='buttons' id="Add_venue" >Add a Venue</button>
    </form>
    </div>
    <% end %>
    <div class='search-box'>
      <input type="text" class="live-search-box" placeholder="search here" />
    </div>

  <div>
      <ul class="live-search-list">
       <% @venues.reverse.each do |venue| %>
          <ul>
            <div class='galery'>
              <div class='image'>
            <a target="_blank" href="/view/<%= venue.title%>">
            <img src= "<%= venue.pictures.map(&:path).join(',')  %>" style="width:25%;"> </span>
          </div>
        <div class='desc'>
          <span ><b>Title:</b> <%= venue.title %></span>
          <br>
           <span><b>Address:</b> <%= venue.address   %></span>
          <br>
          <span><b>City:</b> <%= venue.city   %></span>
          <br>
          <span><b>Price:</b> <%= venue.price   %></span>
          <span>
        </div>
      </div>
      <% end %>
    </ul>
  </div>
<!-- </div> -->
</div>
<!-- </div> -->
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="../../src/particles.js"></script>
</body>

</html>
