<html>

<head>

</head>

<body>
  <% if @name %>
  Welcome <%= @name %>
  <form action="/venue/new">
    <button id="Add_venue" >Add a Venue</button>
  </form>
<% end %>


<div>
  <% @venues.reverse.each do |venue| %>
    <br>
    <img src= "<%= venue.pictures.map(&:path).join(',')  %>" height="200" width="200" align="center"> </span>
    <br>
    <span ><b>Title:</b> <%= venue.title %></span>
  <br>
    <span><b>Address:</b> <%= venue.address   %></span>
  <br>
  <br>
    <span><b>City:</b> <%= venue.city   %></span>
  <br>
  <br>
    <span><b>Price:</b> <%= venue.price   %></span>
  <br>
  <span>
  <form action="/view/<%= venue.title%>">
    <button id="view" >View</button>
  </form>
  <% end %>
</div>

</body>

</html>
