<head>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src='/src/date.js' ></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <meta charset="utf-8"><script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/src/date.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type='text/css' href="/css/text_boxes.css">
</head>

<body>

<div >


  <% @venues.each do |venue| %>
  <div class="image">
  <div class="container">
    <img src= "<%= venue.pictures.map(&:path).join(',')  %>" style="width:100%;"> </span>
    <br>
    <div class="text-block">
      Title:<%= @title = venue.title %>
    </div>
  </div>
  </div>
  <div class = "venue_page">
  <div class="info-text">
  <br>
    <span><b>Address:</b> <%= venue.address   %></span>
  <br>
  <br>
    <span><b>City:</b> <%= venue.city   %></span>
  <br>
  <br>
    <span><b>Price:</b> <%= venue.price   %></span>
  <br>

  <br>
      <span><b>Description:</b> <%= venue.description   %></span>
  <span>
  </div>
    <br>
  <br>


  <% if @name %>
  <form action="/view/<%= venue.title%>" method = "post">
    <p>Start Date: <input id="startDate" type="text" name="startDate"></p>
    <p>End Date: <input id="endDate" type="text" name="endDate"></p>
    <br>
    <div class = 'buttons'>
      <div class = 'book-button'>
        <button id="book" >Book</button>
      </div>
  </form>

      <form action='/favorite/new' method='post'>
        <div class = 'favorite-button'>
          <button id="favorite" name='favorite'>Favorite</button>
        </div>
      </form>

  <% else %>
    <a href='/'>Sign in</a> or <a href='/sign_up'>sign up</a> to book or add to favorites
  <%end%>

<% end %>
    </div>
  </div>
</div>
</body>
</html>
<body>
